@use '../../primatives/' as p;

/*SEMANTIC LINK TEXT STYLES*/


/* Link semantic tokens (CSS variables) */

:root {
  /* Regular link */
  --link-font: #{p.$font-size-100};
  --link-line: #{p.$line-height-100};

  /* Heavy link */
  --link-font-heavy: #{p.$font-size-100};
  --link-line-heavy: #{p.$line-height-100};
}


/* Responsive overrides */

@media (min-width: #{p.$bp-medium}) {
  :root {
    /* Regular link */
    --link-font: #{p.$font-size-200};
    --link-line: #{p.$line-height-300};

    /* Heavy link */
    --link-font-heavy: #{p.$font-size-200};
    --link-line-heavy: #{p.$line-height-300};
  }
}