//Breakpoints

$bp-x-small : 400px; 
$bp-small : 640px; 
$bp-medium : 768px;
$bp-large : 1024px;
$bp-x-large : 1300px;
$bp-xx-large : 1620px;

//*Important note: Always use px for the breakpoints here, rem do not work.