//global colour tokens

//neutrals
// $neutral-900 : #000000;
// $neutral-700 : #888888;
// $neutral-500 : #cccccc;
// $neutral-300 : #e5e5e5;
// $neutral-100 : #ffffff;

$neutral-900 : #000000;
$neutral-800 : #4b4b4b; //new colour (amend buttons to use this and not accent strong, call it brand-strong instead?)
$neutral-700 : #888888;
$neutral-500 : #cccccc;
$neutral-300 : #e5e5e5;
$neutral-100 : #ffffff;

//brand
// $brand-900 : #236b55;
// $brand-500 : #3a8c6f;
// $brand-300 : #f2eae4;
// $brand-100 : #f9f4f0;



//$brand-900 : #272757; 
$brand-900: #505081; //temporary while testing
$brand-300 : #8686AC;
$brand-100 : #f9f4f0;

//warning
$warning-900 : #cc8400;
$warning-500 : #ffb84d;
$warning-100 : #ffefd1;


//danger
$danger-900 : #9e3737;
$danger-500 : #bc4242;
$danger-100 : #f6dada;
