//Radius tokens

$radius-0 : 0px;
$radius-100 : 4px;
$radius-200 : 8px;
$radius-300 : 12px;
$radius-400 : 16px;
$radius-500 : 20px;
$radius-600 : 24px;
$radius-700 : 32px;
$radius-800 : 40px;
$radius-900 : 60px;
$radius-full : 999px;