//Spacing tokens

$spacing-100 : 4px;
$spacing-200 : 8px;
$spacing-300 : 12px;
$spacing-400 : 16px;
$spacing-450 : 20px;
$spacing-500 : 24px;
$spacing-600 : 32px;
$spacing-650 : 40px;
$spacing-700 : 48px;
$spacing-725 : 56px;
$spacing-750 : 60px;
$spacing-800 : 64px;
$spacing-850 : 72px;
$spacing-900 : 80px;
$spacing-950 : 84px;
$spacing-1000 : 96px;
$spacing-1050 : 100px;
$spacing-1100 : 112px;
$spacing-1150 : 120px;
$spacing-1200 : 124px;
$spacing-1250 : 136px;
$spacing-1300 : 144px;
$spacing-1400 : 160px;
$spacing-1450 : 168px;
$spacing-1500 : 180px;
$spacing-1550 : 248px;
$spacing-1560 : 312px;
$spacing-1575 : 370px;
$spacing-1600 : 400px;
$spacing-1625 : 500px;
$spacing-1650 : 700px;
$spacing-1700 : 784px;