//Typography tokens

//font family
$font-family-heading: var(--font-playfair-display);
$font-family-base: var(--font-montserrat);

//line-height
$line-height-100 : 20px;
$line-height-200 : 24px;
$line-height-300 : 28px;
$line-height-400 : 32px;
$line-height-450 : 38px;
$line-height-500 : 40px;
$line-height-550 : 44px;
$line-height-600 : 48px;
$line-height-700 : 56px;
$line-height-800 : 60px;
$line-height-900 : 76px;
$line-height-1000 : 96px;
$line-height-1100 : 120px;

//font-size 
$font-size-100 : 14px;
$font-size-200 : 16px;
$font-size-300 : 18px;
$font-size-400 : 20px;
$font-size-500 : 24px;
$font-size-550 : 28px;
$font-size-600 : 32px;
$font-size-650 : 36px;
$font-size-700 : 40px;
$font-size-800 : 48px;
$font-size-900 : 52px;
$font-size-1000 : 64px;
$font-size-1100 : 80px;
$font-size-1200 : 100px;