@use "../primatives/" as p;

//fifty fifty module styles

.fiftyFiftyModule {
    padding: var(--module-padd-y-medium) 0;

    &__image-wrapper {
        position: relative;
        height: p.$spacing-1625;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        + .fiftyFiftyModule__image-wrapper {
            margin-top: p.$spacing-500;
        }
    }

    &__image {
        object-position: center;
        object-fit: cover;
    }

    .button {
        margin-top: p.$spacing-500;
    }

    &--portraitImage {
        .fiftyFiftyModule__image-wrapper {
            height: p.$spacing-1575;
        }
    }
}