@use "../primatives/" as p;
//not found styles

.notFoundModule {
    padding: var(--module-padd-y-medium) 0;
    

    &__inner {
        padding: p.$spacing-500;
        display: flex;
        flex-direction: column;
    }

    .button {
        width: fit-content;
        margin: auto;
    }
}